{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="row my-5">

        <h1 class="text-center" style="color: #ffffff">Projects</h1>
        <div class="d-flex justify-content-around align-items-center">
            <table class="table table-primary">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Projects</th>
                    <th scope="col">Links</th>
                    <th scope="col">Github</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Quick Poll Project</td>
                    <td><a href="https://github.com/dharm98688/Quick-Poll-App" style="text-decoration: none">Quick
                        Poll</a></td>
                    <td><img src="{% static 'images/Github.png' %}" alt="html" width="70" height="70"
                             style="border-radius: 20px"
                             class="img-fluid"></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>E-commerce Project</td>
                    <td><a href="https://github.com/dharm98688/Ecommerce" style="text-decoration: none">E-Commerce
                        Project</a></td>
                    <td><img src="{% static 'images/Github.png' %}" alt="html" width="70" height="70"
                             style="border-radius: 20px"
                             class="img-fluid"></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Email Verification</td>
                    <td><a href="https://github.com/dharm98688/LoginSystem-using-email-Verification"
                           style="text-decoration: none">Email
                        verification Login</a></td>
                    <td><img src="{% static 'images/Github.png' %}" alt="html" width="70" height="70"
                             style="border-radius: 20px"
                             class="img-fluid"></td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Blog Project</td>
                    <td><a href="https://github.com/dharm98688/Blog_app_django" style="text-decoration: none"> Blog
                        Project</a></td>
                    <td><img src="{% static 'images/Github.png' %}" alt="html" width="70" height="70"
                             style="border-radius: 20px"
                             class="img-fluid"></td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>To-do list with registeration function Project</td>
                    <td><a href="https://github.com/dharm98688/Django-Todo-list-using-registeration"
                           style="text-decoration: none">To-do list
                        Poll</a></td>
                    <td><img src="{% static 'images/Github.png' %}" alt="html" width="70" height="70"
                             style="border-radius: 20px"
                             class="img-fluid"></td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>Simple Book Reader Project</td>
                    <td><a href="https://github.com/dharm98688/Simple_Book_Reader_App" style="text-decoration: none">Simple
                        Book Reader</a></td>
                    <td><img src="{% static 'images/Github.png' %}" alt="html" width="70" height="70"
                             style="border-radius: 20px"
                             class="img-fluid"></td>
                </tr>
                </tbody>
            </table>

        </div>
        <h2 class="text-center"><a href="https://github.com/dharm98688" style="text-decoration: none">For more projects....</a></h2>
        {#        <div class="d-flex justify-content-around align-items-center">#}
        {#            <a href="https://github.com/dharm98688/Quick-Poll-App" style="text-decoration: none">Quick Poll Projects</a>#}
        {#            <img src="{% static 'images/Github.png' %}" alt="html" width="70" height="70" style="border-radius: 20px"#}
        {#                 class="img-fluid">#}
        {#        </div>#}
        {#        <div class="d-flex justify-content-around align-items-center my-5">#}
        {#            <a href="https://github.com/dharm98688/Ecommerce" style="text-decoration: none">E-Commerce Project</a>#}
        {#            <img src="{% static 'images/Github.png' %}" alt="html" width="70" height="70" style="border-radius: 20px"#}
        {#                 class="img-fluid">#}
        {#        </div>#}
        {#        <div class="d-flex justify-content-around align-items-center">#}
        {#            <a href="https://github.com/dharm98688/LoginSystem-using-email-Verification" style="text-decoration: none">Email#}
        {#                verification Login</a>#}
        {#            <img src="{% static 'images/Github.png' %}" alt="html" width="70" height="70" style="border-radius: 20px"#}
        {#                 class="img-fluid">#}
        {#        </div>#}
        {#        <div class="d-flex justify-content-around align-items-center my-5">#}
        {#            <a href="https://github.com/dharm98688/Blog_app_django" style="text-decoration: none">Blog Project</a>#}
        {#            <img src="{% static 'images/Github.png' %}" alt="html" width="70" height="70" style="border-radius: 20px"#}
        {#                 class="img-fluid">#}
        {#        </div>#}
        {#        <div class="d-flex justify-content-around align-items-center">#}
        {#            <a href="https://github.com/dharm98688/LoginSystem-using-email-Verification" style="text-decoration: none">Email#}
        {#                verification Login</a>#}
        {#            <img src="{% static 'images/Github.png' %}" alt="html" width="70" height="70" style="border-radius: 20px"#}
        {#                 class="img-fluid">#}
        {#        </div>#}
        {#    </div>#}
{% endblock %}